@model List<PPL3_Banhangonline.Models.Category>

<h2>Quản lý danh mục</h2>

<a asp-action="Create">Thêm danh mục</a>

<table border="1" cellpadding="10">
    <tr>
        
        <th>Tên danh mục</th>
        <th>Chức năng</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
       
            <td>@item.CategoryName</td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CategoryID">Sửa</a>
                <a asp-action="Delete" asp-route-id="@item.CategoryID">Xóa</a>
            </td>
        </tr>
    }
</table>