<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"] - GreenBasket</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <div class="top-bar">
            <div class="logo">
                <a asp-controller="Home" asp-action="Index">GreenBasket</a>
            </div>

            <div class="account">
                <a asp-controller="Account" asp-action="Login">Đăng nhập</a>
                <a asp-controller="Account" asp-action="Register">Đăng ký</a>
            </div>
        </div>
    </header>

    <main>
   
    </main>

    <footer>
        <p>&copy; 2026 - Shop Online</p>
    </footer>
</body>
</html>